*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1194px;
    margin: auto;
}

/********* HEADER *************/

.header{
    display: flex;
    align-items: center;
    padding: 10px 0; 
}

.search-form{
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}

.search-input{
    background: transparent;
    border: none;
    width: 100%;
    padding: 13px 20px;
}

.search-button{
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
}

.login{
    background: #EBEBEB;
    border-radius: 50px;
    text-decoration: none;
    padding: 16px 30px;
    color: #000;
    display: block;
}

.auth{
    margin-left: auto;
}

.shopping-cart{
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background:#F66A15;
    padding: 12px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon{
    width: 25px;
    height: 25px;
}

span.shopping-counter{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FFAF19;
    padding: 5px;
    color: #000;
    font-size: 8px;
    line-height: 9px;
    text-decoration: none;
    border-radius: 50%;
    display: block;
}

/************* SLIDER ****************/

.slide{
    border-radius: 20px;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
    position: relative; /* это для before*/
    overflow: hidden; /* это для before*/
}

.slide-text-light{
    background: silver;
    color: #fff;
}

.slide-content{
    max-width: 500px;
    position: relative; /* это для before*/
}

.slider-buttons{
    position: absolute;
    bottom: 40px;
    right: 46px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.slider-buttons .icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.swiper{
    position: relative;
}

.slide-title{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
    max-width: 400px;
}

.slide-text{
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}

.button{
    border-radius:25px;
    text-decoration: none;
    padding: 11px 50px;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.button-primary{
    background: #F47322;
    color: #fff;
} 

.button-default{
    background: #fff;
    color: #5F5F61;
}

.slide-summer{
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url(../images/summer.png); */ /* это тоже работает только без before (запись в одну строчку кода!!!)*/
    background-image: url('../images/summer.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-summer::before{
    content: '';
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background:rgba(0,0,0, .5);  
}

.slide-autumn{
    background-image: url('../images/autumn.png');
    background-repeat: no-repeat;
    background-size: cover; 
}

.slide-autumn::before{
    content: '';
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background:rgba(0,0,0, .5);  
}

.slide-vitamin{
    background-image: url('../images/vitamin.png');
    background-repeat: no-repeat;
    background-size: cover; 
}

.slide-vitamin::before{
    content: '';
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background:rgba(0,0,0, .5); 
}

/*********** PROMO ***********/

.promo{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    margin: -20px;
}

.card{
    padding: 32px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    max-width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-grow: 1; */
    flex: 50%;
    margin: 20px;
}

.card::before{
    z-index: -1;
    content: '';
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0.5) 100%);
}

.card-text-light{
    color: #fff;
}

.card-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin: 4px 0 21px 0;
}

.card-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 200px;
}

.card-price{
    display:block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px; 
    margin-bottom: 8px;
}

.card-delivery{
    display:block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}

.card-image{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    z-index: -2;
}

/*********** Delivery-Week ********************/

.delivery-week{
    padding: 100px 0;
}


.section-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 47px;
}

.delivery-cards{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.delivery-card{
    position: relative;
    width: 275px;
    height: 182px;
    border-radius: 18px;
    overflow: hidden;
    margin: 15px;
}

.delivery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.delivery-tag{
    position: absolute;
    top: 16px;
    left: 10px;
    border-radius: 30px;
    color: #49494F;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 5px 10px;
}

.tag-healf{
    background: #D0FD89;
}

.tag-vegetable{
    background: #AEBC41;
    color: #fff;
}

.tag-maet{
    background: #B86B78;
    color: #fff;
}

.tag-bird{
    background: #D68334;
    color: #fff;
}

.tag-fish{
    background: #CD6255;
    color: #fff;
}

.tag-kids{
    background: #FFFDBF;
}

.tag-parent{
    background: #F6FDC8;
}

.tag-holiday{
    background: #FEF7FE;
}

/*********** Section Grey Category**********************/

.section-grey{
    background: #F6F6F6;
    margin-bottom: 100px;
}

.tabs-content{
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
}

.tabs{
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 62px;
}

.tabs-item{
    list-style: none;
}

.tabs-link{
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
    text-decoration: none;
    margin-right: 58px;
}

.tabs-link.active{
    color: #F37321;
}

.category{
    padding-top: 40px;
    padding-bottom: 60px;
}

.tabs-card{
    margin: 15px;
    max-width: 270px;
    border-radius: 20px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.tabs-image{
    max-width: 100%;
}

.tabs-card-content{
    padding: 23px;
}

.tabs-title{
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.tabs-description{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
}

.tabs-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs-price{
    display: block;
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    margin-bottom: 5px;
}

.tabs-weight{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}

.button-outline{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: transparent;
    color: #F37321;
    padding: 15px 25px;
    border: 2px solid #F37321;
    border-radius: 33px;
    cursor: pointer;
}

.button-center{
    display: block;
    width: 315px;
    height: 50px;
    margin: auto;
    margin-top: 62px;
    margin-bottom: 60px;
}

/************ Service ****************/

.service{
    margin-bottom: 200px;
}

.service-card-content{
    width:223px;
    height: 88px;
    margin: auto;
}

.sercice-title{
    margin-bottom: 52px;
}

.service-cards{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.service-card{
    width: 270px;
    height: 296px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    overflow: hidden;
    margin: 15px;
}

.service-image{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 34px;
}

.service-card-title{
    width: 188px;
    height: 46px; 
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin: auto;
    text-align: center;
    margin-bottom: 13px;
}

.service-card-description{
    font-size: 14px;
    line-height: 22px;
    color: #49494F;
    text-align: center;
}

/************ Footer ******************/

.footer{
    padding: 40px 0;
    background: #F6F6F6;
}

.footer-logo{
    width: 205px;
    height: 101px;
    margin-right: 50px;
}

.footer-wrapper{
    display: flex;
    align-items:center;
}

.footer-link{
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #000;
    margin-right: 50px;
}

.social-links{
    display: flex;
    align-items: center;
    margin: auto;
}

.social-link{
    margin-left: 20px;
    text-decoration: none;
}

/************** @MEDIA *******************/

@media (max-width: 1260px) {

    .container{
        max-width:960px;
    }

    .search-form{
        margin: 0 40px;
    }

    .tabs-card{
        flex: 50%;
        max-width: calc(50% - 30px);
    }

    .delivery-card{
        flex: 50%;
        /* flex-wrap: nowrap; */
        max-width: calc(50% - 30px);
    }

    .service-card{
        flex: 50%;
        max-width: calc(50% - 30px);
    }

}

@media (max-width: 992px){

    .container{
        max-width:750px;
    }

    .slide{
        padding: 70px;
    }

    .delivery-card{
        width: calc(50% - 30px);
    }

    .footer-logo{
        margin-right: 40px;
    }

}

@media (max-width: 768px){

    .container{
        max-width:560px;
    }

    .header{
        flex-wrap: wrap;
    }

    .search-form{
        order: 5;
        margin: 15px 0;
        
    }

    .promo{
        flex-wrap: wrap;
    }

}

@media (max-width: 576px){

    .container{
        max-width: 90%;
    }

    .tabs-card,
    .delivery-card,
    .service-card{
        max-width: 100%;
    }

}
